html {
    background-image: url(../images/gringotts.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: .5px .5px black;
}
body {
    background-color: transparent !important;
    width:1140px;
    max-width: 100%;
    margin: auto !important;
}

.container {
    color: rgb(214, 202, 24);
    font-family: 'Arbutus Slab', serif;
    text-align: center;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    max-width: 100%;
}

.flexbox {
    justify-content: center;
}

.col-md-4 {
    text-align: center;
}

.coinsFlexbox {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    border-style: solid;
    border-color: rgb(240, 229, 82);
    border-width: 10px 10px;
    background-color: white;
    margin: auto auto 20px auto;
}
.coinImg {
    width: 202px;
    height: 202px;
    margin: auto;
}

#dataRow {

}

@media(min-width: 576px) {
    .coinsFlexbox {
        flex-flow: row nowrap;
        width: 100%;
        max-height: 202px;
    }
    .coinImg {
        width: 25%; 
        height: 100%;
    }
}

