html {
    background-image: url(../images/gringotts.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    background-color: black;
}
body {
    background-color: transparent !important;
    width:1140px;
    max-width: 100%;
    margin: auto !important;
}

.container {
    color: rgb(252, 238, 46);
    font-family: 'Arbutus Slab', serif;
    text-align: center;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    max-width: 100%;
}

.flexbox {
    justify-content: center;
}

#numberToGuess, #total {
    font-size: 80px;
}

.col-md-4 {
    text-align: center;
}

.coinsFlexbox {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    width: 90% /*220px*/;
    border-style: solid;
    border-color: rgb(252, 238, 46);
    border-width: 10px 10px;
    /*outline: 3px solid black;
    box-shadow: 3px 3px 3px 3px black;*/
    background-color: white;
    margin: auto auto 20px auto;
}
.coinImg {
    width: 140px;
    height: 140px;
    margin: auto;
}

@media(min-width: 425px) {
    .coinsFlexbox {
        flex-flow: row wrap;
        width: 100%;
    }
    .coinImg {
        width: 25%; 
        height: 100%;
    }
}



